[weather]
; comma-delimited zone IDs, see https://www.weather.gov/media/documentation/docs/NWS_Geolocation.pdf
zones=HIC009,HIZ221
; interval in minutes between checks
check_interval=5

[discord]
webhook_url=https://discord.com/api/webhooks/xxxxxxxxxxxxxxxxxxxxxx/yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
; the username of the webhook message
username=WeatherGoat
; direct image URL to the avatar of the webhook image
avatar=https://files.catbox.moe/okk8b9.gif
; the image to include in the alert embeds, for example images from https://radar.weather.gov/ridge/lite/
image=https://radar.weather.gov/ridge/lite/HAWAII_loop.gif
; the decimal color code for minor alerts (such as alerts being canceled)
color_minor=8702998
; the decimal color code for moderate alerts (such as watches)
color_moderate=16347926
; the decimal color code for severe alerts (warnings)
color_severe=14427686
